<h1>Roster</h1>

<% if user_signed_in? %>
<%= link_to 'New Roster', new_roster_path %>
<% end %>

<div class="row">
  <div class="col-md-5">
    <table id="roster" class="table">
      <thead>
        <tr>
          <th>Player</th>
          <th>Position</th>
        </tr>
      </thead>
      <tbody>
        <tr>
      <% @rosters.each do |roster| %>
        <td><%= roster.position %></td>
        <td><%= roster.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>



 <div class="row">
        <div class="col-md-6">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>