<h1>Edit Player</h1>

<%= render 'form' %>

<%= link_to 'Show', @player %> |
<%= link_to 'Back', players_path %> |
<%= link_to 'Delete', players_path, method: :destroy, data: { confirm: 'Are you sure?' } %>
