<center><h1>Noah's Team</h1></center>

<center>
<button type="button" class="btn btn-default"><%= link_to 'Roster', players_path %></button>
<button type="button" class="btn btn-default"><%= link_to 'Dynasty Rankings', rankings_players_path %></button>
<button type="button" class="btn btn-default"><%= link_to 'Depth Chart', depthchart_players_path %></button>
<button type="button" class="btn btn-default"><%= link_to 'Trade Machine', trademachine_players_path %></button>
</center>

