<h1>Edit Prospect</h1>

<%= render 'form' %>

<%= link_to 'Show', @prospect %> |
<%= link_to 'Back', prospects_path %> |
<%= link_to 'Delete', prospect_path(@prospect), method: :delete, data: { confirm: 'Are you sure?' } %>
