<center><h1>Draft</h1></center>

<center>
<button type="button" class="btn btn-default"><%= link_to 'Draft Order', drafts_path %></button>
<button type="button" class="btn btn-default"><%= link_to 'Picks Per Round', picks_drafts_path %></button>
<button type="button" class="btn btn-default"><%= link_to 'Team Needs', needs_drafts_path %></button>
</center>